<div id="tp" class="ui fluid contianer">
  <div id="holder" class="ui grid">
    <i  class="linkedin huge icon"></i>
    <i class="github huge icon"></i>
  </div>
</div>

<div id="hd" class="ui fluid container">
  <div class="ui grid">

    <div class="row two column">

      <div class="center aligned column">

        <div  id="crd" class="ui card">
          <div class="image">
            <img src="assets/header/face2.jpg">
          </div>
          <div class="content">
            <div  class="header" href="#">Tahmid Farhan</div>
            <div class="meta">
              <h4>Software Developer</h4>
            </div>
          </div>
        </div>

      </div>


      <div class="column">
        <h1 id="wlc" style="color: white">Welcome To My Site</h1>
      </div>

    </div>

    </div>

  </div>

<div id="bt" class="ui fluid contianer">

</div>



