<div id="tp" class="ui fluid contianer">
  <div id="holder" class="ui grid">
    <a href="https://www.linkedin.com/in/tahmid-farhan-b168391a0/" target="new" >  <i  class="linkedin huge icon link" ></i></a>
    <a href="https://github.com/Tahmid79" target="new" ><i class="github huge icon link"></i></a>
  </div>
</div>

<div id="hd" class="ui fluid container">
  <div class="ui grid">

    <div class="row"></div>

    <div class="row two column">

      <div class="column">

        <div  id="crd" class="ui card">
          <div class="image">
            <img src="assets/header/fnt.jpg">
          </div>
          <div class="content">
            <div  class="header">Tahmid Farhan</div>
            <div class="meta">
              <h4>Software Developer</h4>
            </div>
          </div>
        </div>

      </div>


      <div class="ui divider"></div>

      <div class="large screen only column">
        <h1 id="wlc" style="color: white">Welcome To My Site</h1>
      </div>

    </div>


    </div>

</div>




<div id="bt" class="ui fluid contianer">

</div>



