<div id="sk" class="ui inverted segment">


  <div id="box"  class="ui segment">
    <h1 class="ui floated header">Technical Expertise</h1>
    <div class="ui clearing divider">
    </div>
  </div>

  <div class="ui grid">

    <div class="row five column">

      <div class="column" *ngFor="let number of numbers" style="padding: 30px">

        <!--
        <div class="ui  circular segment">
          <h2 class="ui header">
            Buy Now
            <div class="sub header">$10.99</div>
          </h2>
        </div>
        -->

        <img class="ui small circular image" src="assets/header/sqlite.jpg">

      </div>


    </div>


  </div>
</div>
