#sk{
  color: white;
  margin-top: 0px;
}


#box{

  background: #323232;  /* fallback for old browsers */

}

#box h1{
  color: white;
}


/*
.ui.circular.segment{
  width: 200px;
  height: 200px;
  zoom: 0.8;
}
*/

#circle img{

}



/*Mobile First*/

.ui.circular.segment {

    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center;
    margin: 8px;
    width: 70px;
    height: 70px;

  }



@media screen and (min-width: 720px) {
  .ui.circular.segment{

    /*
    background-image: url("src/assets/stack/ang.jpg") ;
    */
    background-size: contain  ;
    background-repeat: no-repeat ;
    background-position: center;
    margin: 20px;
    width: 10em;
    height: 10em;
  }
}












/*
background: #000428;   fallback for old browsers
background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6
background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*
.ui.small.circular.image{
  width: 200px;
  height: 200px;
  zoom: 0.8;
}
*/


/*Mobile*/


/*
#kr{
  zoom: 0.3;
  margin: 20px;

  background-image: url("src/assets/header/sqlite.jpg") ;
  background-size: contain ;
  background-repeat: no-repeat ;
  background-position: center;

}
*/
