<div id="sk" class="ui inverted segment">


  <div id="box"  class="ui segment">
    <h1 class="ui floated header">Technical Expertise</h1>
    <div class="ui clearing divider">
    </div>
  </div>

  <div class="ui grid">

    <div class="row computer only">


        <div id="circle" class="ui  circular segment"  *ngFor="let number of numbers">

        </div>

    </div>


  </div>

  <div class="ui mobile only grid" style="display: flex; overflow-x:  scroll; overflow-y: hidden;">


       <div #gallery  id="fbox" class="row" style="display: flex ; overflow-x:scroll"  >


       <div id="kr" class="ui small circular segment" *ngFor="let number of numbers" >


      </div>




    </div>

  </div>

</div>


<!--
<img class="ui image" src="assets/header/boxes.jpg">
-->
