#sk{
  color: white;
  margin-top: 0px;
}


#box{

  background: #323232;  /* fallback for old browsers */

}

#box h1{
  color: white;
}



.ui.circular.segment{
  width: 300px;
  height: 300px;
  zoom: 0.6;
}


#circle img{

}

#circle{
  background-image: url("src/assets/header/sqlite.jpg") ;
  background-size: contain ;
  background-repeat: no-repeat ;
  background-position: center;
  margin: 20px;
  width: 20em;
  height: 20em;
}


@media screen and (max-width: 480px) and (min-width: 320px) {
  #cirlce {
    width: 50px;
    height: 50px;
  }
}



.ui.small.circular.image{
  width: 200px;
  height: 200px;
  zoom: 0.8;
}



/*
background: #000428;   fallback for old browsers
background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6
background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


/*Mobile*/

#kr{
  zoom: 0.3;
  margin: 20px;

  background-image: url("src/assets/header/sqlite.jpg") ;
  background-size: contain ;
  background-repeat: no-repeat ;
  background-position: center;

}
